@import "vars";
@import "fonts";
@import "normalize";
@import "global";
@import "flex";
body {
	font-family: 'Harmonia', sans-serif;
}

.header-info {
	min-height: 60px;
	font-size: 12px;
}

.contact {
	margin-right: 19px;
	img {
		margin-right: 9px;
	}
}

.socials {
	img {
		margin-left: 22px;
		cursor: pointer;
	}
}

nav {
	min-height: 120px;
	border-top: 1px solid #EDEFF1;
	border-bottom: 1px solid #EDEFF1;
	.menu {
		width: 50px;
		height: 50px;
		display: none;
	}
	.logo,
	.action,
	li {
		cursor: pointer;
	}
	ul {
		margin-left: 85px;
		li {
			font-size: 16px;
			margin-right: 40px;
			a {
				color: #34404b;
				&:hover {
					color: $main_color;
				}
			}
		}
	}
}

.scrolled {
	top: 0px;
}

.actions {
	margin-left: auto;
}

.product-count {
	width: 18px;
	height: 18px;
	margin-right: 3px;
	border-radius: 100%;
	background-color: #34404B;
	margin-left: auto;
	margin-bottom: 2px;
	font-size: 10px;
	font-weight: 300;
	color: #fff;
}

.action {
	margin-left: 35px;
	img {
		margin-top: auto;
	}
}

.cart {
	height: 38px;
}

.banner {
	min-height: 650px;
	background: url("../img/background.jpg") no-repeat;
	background-size: cover;
	h1 {
		font-size: 52.15px;
		text-transform: uppercase;
		color: $main_color;
	}
	.product-description {
		margin-bottom: 17px;
		font-size: 18px;
		font-weight: 600;
		color: #3c4751;
	}
	.product-text {
		color: #495662;
	}
	.buy-info {
		margin-top: 67px;
		font-size: 18px;
		font-weight: 600;
	}
	&-price {
		margin-right: 30px;
	}
	.order {
		color: $main_color;
		cursor: pointer;
		img {
			margin-right: 8px;
		}
	}
	&-info {
		max-width: 500px;
	}
}

.decorations {
	margin-right: 90px;
	div {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&-white {
		width: 9px;
		height: 17px;
		background-color: #fff;
	}
	&-orange {
		width: 9px;
		height: 36px;
		background-color: $main_color;
	}
}

h2 {
	text-transform: uppercase;
}

.main-wrapper {
	background-color: #F4F6F8;
}

section {
	h2 {
		margin-top: 120px;
		text-align: center;
		font-size: 36px;
		span {
			color: $main_color;
		}
	}
	h2+div {
		margin-top: 32px;
		margin-bottom: 84px;
		text-align: center;
		color: #495662;
	}
}

.products {
	margin-bottom: 80px;
}

.product {
	width: 270px;
	height: 370px;
	padding: 30px 10px;
	margin-bottom: 50px;
	background-color: #fff;
	cursor: pointer;
	&-text {
		margin-top: auto;
	}
	&-price {
		margin-top: 15px;
		margin-bottom: 0px;
		font-size: 18px;
		color: $main_color;
	}
	h3,
	&-price {
		font-weight: 600;
		text-align: center;
	}
	h3 {
		margin-top: 15px;
		color: #34404b;
	}
	&-add-to-cart {
		display: none;
		text-transform: lowercase;
		color: #34404b;
		.sizes {
			margin-top: 30px;
			font-weight: 600;
		}
		.color {
			width: 14px;
			height: 14px;
			margin-top: 32px;
			margin-right: 4px;
			border-radius: 100%;
			&:last-child {
				margin-right: 0px;
			}
		}
		.color-red {
			background-color: #E12E3F;
		}
		.color-darkgrey {
			background-color: #485159;
		}
		.color-blue {
			background-color: #3AB3FF;
		}
		.color-green {
			background-color: #2FD967;
		}
		.product-divider {
			width: 168px;
			margin-top: 30px;
			margin-bottom: 30px;
			border-top: 1px solid #F5F5F6;
		}
		.product-actions {
			img {
				margin-right: 30px;
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
	&:hover {
		cursor: pointer;
		box-shadow: 0px 8px 31px 3px rgba(228, 230, 231, 1);
		h3 {
			color: $main_color;
		}
		.product-add-to-cart {
			display: flex;
		}
		.product-img {
			max-width: 70px;
		}
		.product-price {
			display: none;
		}
	}
}

.divider {
	height: 60px;
	margin-top: 30px;
	background-color: #fff;
}

.circle {
	width: 8px;
	height: 8px;
	margin-right: 5px;
	background-color: $main_color;
	border-radius: 100%;
	&:last-child {
		margin-right: 0px;
	}
}

.to-purchase {
	margin-top: 120px;
	img {
		cursor: pointer;
	}
}

.buy-area,
.adv-area {
	height: 100px;
	background-color: #fff;
}

.buy-area {
	width: 60%;
	h3 {
		font-size: 22px;
		font-weight: 900;
		text-transform: uppercase;
		color: #34404b;
		p {
			margin: 0;
			margin-top: 5px;
			font-size: 12px;
			color: #495662;
		}
	}
}

.adv-area {
	width: 35%;
	color: #34404b;
	&-text {
		span {
			color: #ff5912;
		}
	}
	&-num {
		font-size: 12px;
		letter-spacing: 1.1em;
		color: #BFC2C4;
	}
}

.sale {
	width: 80px;
	height: 80px;
	background: url("../img/sale-bg.png") no-repeat;
	color: #fff;
	&-text {
		margin: 0;
		text-align: center;
		font-size: 14px;
		line-height: 1.6em;
		font-weight: 300;
		font-style: italic;
		span {
			font-size: 16px;
			font-weight: 900;
			font-style: normal;
		}
	}
	&-price {
		margin: 0;
		margin-left: 20px;
		line-height: 1em;
		font-size: 24px;
		font-weight: 900;
		color: $main_color;
	}
}

.adv-area-text {
	font-weight: 600;
}

.best-product {
	width: 370px;
	height: 160px;
	margin-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
	background: #fff;
	cursor: pointer;
	&-text {
		width: 60%;
	}
	&-divider {
		height: 56px;
		border-left: 1px solid #F5F5F6;
	}
	h3 {
		margin-bottom: 32px;
		font-size: 18px;
		color: #34404b;
	}
	&-price {
		font-size: 16px;
		font-weight: 600;
		color: $main_color;
	}
	&-add {
		font-weight: 600;
		text-transform: lowercase;
		color: $main_color;
	}
	&-to-cart {
		display: none;
	}
	&:hover {
		box-shadow: 0px 8px 31px 3px rgba(228, 230, 231, 1);
		.best-product-to-cart {
			display: flex;
		}
		.best-product-info {
			display: none;
		}
	}
}

.s-best {
	padding-bottom: 120px;
}

.news {
	width: 100%;
	height: 120px;
	margin-top: 80px;
	background: #fff;
	&-text {
		h4 {
			margin-right: 25px;
			font-size: 18px;
			font-weight: 900;
			text-transform: uppercase;
			color: $main_color;
		}
		&-join {
			font-size: 14px;
			font-style: italic;
			text-transform: lowercase;
			color: #34404b;
		}
	}
	.email {
		margin-right: 160px;
		img {
			margin-right: 10px;
		}
		&-text {
			font-style: italic;
			font-size: 12px;
			text-transform: lowercase;
			color: #7c8791;
		}
	}
	button {
		width: 150px;
		height: 50px;
		background-color: $main_color;
		border: none;
		font-size: 14px;
		font-weight: 600;
		text-transform: lowercase;
		color: #fff;
		cursor: pointer;
	}
}

footer {
	padding-top: 80px;
	padding-bottom: 80px;
	ul {
		margin-right: 90px;
		&:last-child {
			margin-right: 0px;
		}
		li {
			list-style: disc;
			text-transform: lowercase;
			color: #34404b;
			a {
				text-decoration: none;
				color: #34404b;
			}
			&:hover {
				color: $main_color;
				a {
					color: $main_color;
				}
			}
		}
	}
}

.copy {
	margin-top: 20px;
	font-size: 14px;
	color: #34404b;
}

.payment-text {
	font-weight: 600;
	color: $main_color;
}

.cards {
	margin-top: 22px;
	img {
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;
		}
	}
}

@import "media";
